{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'pages/navbar.html' %}

<div class="section black" style="height:120px;">
    <div class="row container">
        {% if messages %}
            {% for msg in messages %}
                <div class="card {% if msg.tags %}{{ msg.tags }}{% endif %}">
                    <div class="card-content">
                         <div class="msg-container">
                            <div class="card-title">
                                <p>{{ msg }}</p>
                            </div>
                            <div>
                                <button type="button" class="close-btn btn-floating btn-small waves-effect waves-light red" onclick="showMessage('{{ msg }}')"><i class="material-icons">close</i></button>
                            </div>
                         </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="carousel carousel-slider" style="height:500px;">
    <a class="carousel-item" href="#one!">
        <img class="c-img" src="/media/images/model1.jpg">
    </a>
    <a class="carousel-item" href="#one!">
        <img class="c-img" src="/media/images/model2.jpg">
    </a>
    <a class="carousel-item" href="#one!">
        <img  class="c-img" src="/media/images/model3.jpg">
    </a>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            fullWidth: true,
            indicators: true,
            duration: 200
        });

        // Auto play carousel
        var autoplay = true;
        setInterval(function() {
            if (autoplay) {
                instances[0].next();
            }
        }, 5000); // Change slide every 5 seconds
    });
    
    function showMessage(message) {
        document.getElementById('message-content').innerText = message;
        var instance = M.Modal.getInstance(document.getElementById('message-modal'));
        instance.open();
    }

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

    function showMessage(message) {
        document.getElementById('message-content').innerText = message;
        var instance = M.Modal.getInstance(document.getElementById('message-modal'));
        instance.open();
    }

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>

<div class="row">
    {% for product in object_list %}
            <div class="col s12 m6 l3">
                <div class="product">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/media/{{product.mainimage}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                            <div class="price">
                                <span class="green-text">{{product.price}}</span>
                                <span class="red-text"><strike>{{product.old_price}}</strike></span>    
                            
                            </div>
                            {% if user.is_authenticated %}
                            <p style="margin-top:10px;"><a href="{% url 'App_shop:product_detail' pk=product.pk %}">See Details</a></p>
                            {% else %}
                            <p style="margin-top:10px;"><a href="{% url 'testapp:login' %}">See Details</a></p>
                            {% endif %}

                        </div>
                        <div class="card-reveal" style="opacity:0.9">
                            <span class="card-title  red-text text-lighten-1">Product Description<i class="material-icons right">close</i></span>
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="section yellow" style="height:200px;">
        <div class="row">
            <div class="col s12 m2 offset-m1">
                <div class="logo">
                    <img class="d-img" src="/media/images/logo.png">
                </div>
            </div>
            <div class="col s12 m9 yellow center-align" style="margin-top:40px;">
                <div class="center-align">
                    <h5>JOIN <span class="green-text">FootFusion</span> AND GET 15% OFF</h5>
                    <a class="btn waves-effect black waves-light" href="{% url 'testapp:signup'%}" type="submit" name="action">Sign Up
                        <i class="material-icons right">arrow_forward</i>
                    </a>
                </div>
            </div>
        </div>
    </div>    
    <footer class="page-footer grey darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="teal-text">Company Info & Policies</h5>
              <p class="grey-text text-lighten-4"><a href="terms.html" class="grey-text text-lighten-4">Terms & Conditions</a></p>
              <p class="grey-text text-lighten-4"><a href="privacy.html" class="grey-text text-lighten-4">Privacy & Cookies Policy</a></p>
              <p class="grey-text text-lighten-4"><a href="faqs.html" class="grey-text text-lighten-4">FAQ's</a></p>
              <p class="grey-text text-lighten-4"><a href="return_policy.html" class="grey-text text-lighten-4">Return & Claim Policy</a></p>
              <p class="grey-text text-lighten-4"><a href="contact.html" class="grey-text text-lighten-4">Contact Us</a></p>
              <p class="grey-text text-lighten-4"><a href="return_exchange.html" class="grey-text text-lighten-4">Return/Exchange</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="teal-text">Follow Us!</h5>
              <ul class="social">
                <li>
                    <a class="grey-text text-lighten-3" href="#!">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue-grey darken-4">
          <div class="container">
            <li class="light-blue-text">&copy;&nbsp;FootFusion&nbsp;2024</li>
            <li class="light-blue-text">All rights reserved</li>
          </div>
        </div>
      </footer>

<style>
    .social li {
        display: inline-block;
        margin-right: 10px;
    }
    .logo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .logo img {
        width: 100%;
        height: auto;
        display: block;
      }
      
    .c-img{
        height: 100%;
        width: 100%;
    }
    .d-img{
        background color: white;
        height: 100px;
        overflow : hidden;
        margin-top : 20px;
        mix-blend-mode: darken;
     }
    .card-image{
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    img{
        width: 100%;
        height: 350px;
    }
    body{
        background: black;
    }
    .price{
        display: flex;
        flex-wrap : wrap;
        justify-content: space-between;
    }
    .msg-container{
        display: flex;
        flex-wrap : wrap;
        justify-content: space-between;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
      });
      
      document.addEventListener('DOMContentLoaded', function() {
        var closeBtns = document.querySelectorAll('.close-btn');
        closeBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var card = this.closest('.card');
                card.parentNode.removeChild(card);
            });
        });
    });
</script>
{% endblock %}

